Package: ttarc
Version: 0.1.1
Section: utils
Priority: optional
Architecture: amd64
Essential: no
Depends: libc6 (>= 2.12)
Maintainer: Martin Czygan <martin@archive.org>
Description: TikTok trending to WARC
